@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap'); 

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	border: none; 
	outline: none; 
	font-family: 'Poppins', sans-serif; 
	text-transform: capitalize; 
	transition: all 0.2s linear; 
    font-weight: bold;
    
} 

.container { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	min-height: 100vh; 
	padding: 25px; 
	background: url('background1.jpg') center center fixed; /* Replace 'your-image-url.jpg' with the actual path to your image */
    background-size: cover;

	
}

.container form { 
	width: 700px; 
	padding: 20px; 
	background:	#e5f2e5 ; 
	box-shadow: 10px 10px 10px 10px rgba(8, 94, 72, 0.589); 
	border-radius: 20px;
	
} 
.container form:hover {
	transform: translateY(-5px);
	box-shadow: 20px 20px 20px 20px rgba(9, 100, 85, 0.61);}

.container form .row { 
	display: flex; 
	flex-wrap: wrap; 
	gap: 15px; 
} 

.container form .row .col { 
	flex: 1 1 250px; 
} 

.col .title { 
	font-size: 30px; 
	color: #7f6000; 
	padding-bottom: 5px; 
} 

.col .inputBox { 
	margin: 15px 0; 
} 

.col .inputBox label { 
	margin-bottom: 10px; 
	display: block; 
} 

.col .inputBox input, 
.col .inputBox select { 
	width: 80%; 
	border: 1px solid #ccc; 
	padding: 10px 15px; 
	font-size: 15px;
	border-radius: 15px; 
	box-shadow: 3px 3px 3px 3px rgba(24, 78, 24, 0.644);
} 

.col .inputBox select:hover {
	transform: translateY(-3px);
	box-shadow: 5px 5px 5px 5px rgba(21, 83, 29, 0.651);
}
.col .inputBox input:hover {
	transform: translateY(-3px);
	box-shadow: 5px 5px 5px 5px rgba(21, 83, 29, 0.651);
}



.col .inputBox input:focus, 
.col .inputBox select:focus { 
	border: 1px solid #000; 
} 

.col .flex { 
	display: flex; 
	gap: 15px; 
} 

.col .flex .inputBox { 
	flex: 1 1; 
	margin-top: 5px; 
} 

.col .inputBox img { 
	height: 34px; 
	margin-top: 5px; 
	filter: drop-shadow(0 0 1px #000); 
} 
.col .inputBox #name::placeholder {
    padding-left: 40px; /* Adjust padding to make room for the icon */
    background: url('user name.png') left center no-repeat; /* Replace 'path-to-icon.png' with the actual path to your icon */
    background-size: 30px; /* Adjust the size of the icon */
}
.col .inputBox #email::placeholder {
    padding-left: 40px; 
    background: url('Email.png') left center no-repeat; 
    background-size: 25px; 
}
.col .inputBox #address::placeholder {
    padding-left: 50px; 
    background: url('Address.png') left center no-repeat; 
    background-size: 30px; 
}
.col .inputBox #shipping::placeholder {
    padding-left: 40px; 
    background: url('Shipping.png') left center no-repeat; 
    background-size: 30px; 
}
.col .inputBox #city::placeholder {
    padding-left: 40px; 
    background: url('City.png') left center no-repeat; 
    background-size: 30px; 
}

.container form .submit_btn { 
	width: 100%; 
	padding: 12px; 
	font-size: 17px; 
	background: rgb(1, 143, 34); 
	color: #fff; 
	margin-top: 5px; 
	cursor: pointer; 
	letter-spacing: 1px;
	margin-right: 10px; 
	box-shadow:2px 2px 2px 2px rgba(13, 61, 4, 0.548) ;
	border-radius: 5px;
} 
.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form .submit_btn:hover { 
	background:#004000; 
} 


.radio-item [type="radio"]{
    display: none;
}

.radio-item + .radio-item{
    margin-top: 15px;
}
.radio-item label{
    display: block;
    padding:10px 60px;
    background: #bcbcbc;
    border:2px solid rgba(255,255,255,0.1);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    width: 250px;
    position: relative;
}

.radio-item label:after,
.radio-item label:before{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after{
    height: 20px;
    width: 20px;
    border:2px solid #004000;
    left: 20px;
    top: calc(50% - 12px);
}
.radio-item label:before{
    background: #004000;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
.radio-item [type="radio"]:checked ~ label{
    border-color:#004000 ;
}

.radio-item [type="radio"]:checked ~ label:before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.total{
    margin-left: 150px; /* Adjust the margin as needed to move the table to the right */
}

.gap{
    padding: 10px; /* Adjust the padding as needed to create a gap between elements */
}
label.total-price {
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold;
}



input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
	display: none; 
}


